# Model files
*.pth
*.pt
*.h5
*.ckpt
*.pb

# Data files
*.csv
*.json
data/
data-*/
datasets/

# Large binaries
*.bin
*.pkl
*.pickle

# Virtual environments
.venv/

# Images
*.png

# Python cache
__pycache__/
*.pyc

# Jupyter checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store

# Logs
*.log
